.vscode/dryrun.log
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_core_f26d17db.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_core_f26d17db.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_data_structures_7471b1e3.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_data_structures_7471b1e3.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_events_fd7d695.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_events_fd7d695.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_graphics_f817e147.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_graphics_f817e147.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_gui_basics_e3f79785.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_gui_basics_e3f79785.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_gui_extra_6dee1c1a.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_gui_extra_6dee1c1a.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_osc_f3df604d.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_osc_f3df604d.o
Builds/LinuxMakefile/build/intermediate/Debug/Node_d45d218b.d
Builds/LinuxMakefile/build/intermediate/Debug/Node_d45d218b.o
Builds/LinuxMakefile/build/intermediate/Debug/PluginEditor_94d4fb09.d
Builds/LinuxMakefile/build/intermediate/Debug/PluginEditor_94d4fb09.o
Builds/LinuxMakefile/build/intermediate/Debug/PluginProcessor_a059e380.d
Builds/LinuxMakefile/build/intermediate/Debug/PluginProcessor_a059e380.o
Builds/LinuxMakefile/build/intermediate/Debug/TestConnection_9710e42e.d
Builds/LinuxMakefile/build/intermediate/Debug/TestConnection_9710e42e.o
Builds/LinuxMakefile/build/intermediate/Debug/TestMain_984895c9.d
Builds/LinuxMakefile/build/intermediate/Debug/TestMain_984895c9.o
Builds/LinuxMakefile/build/intermediate/Debug/TestNode_dbb9f192.d
Builds/LinuxMakefile/build/intermediate/Debug/TestNode_dbb9f192.o
Builds/LinuxMakefile/build/intermediate/Debug/Connector_75b89b2e.d
Builds/LinuxMakefile/build/intermediate/Debug/Connector_75b89b2e.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_basics_8a4e984a.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_basics_8a4e984a.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_devices_63111d02.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_devices_63111d02.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_formats_15f82001.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_formats_15f82001.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_plugin_client_Standalone_1a871192.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_plugin_client_Standalone_1a871192.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_plugin_client_utils_e32edaee.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_plugin_client_utils_e32edaee.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_plugin_client_VST3_dd633589.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_plugin_client_VST3_dd633589.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_processors_10c03666.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_processors_10c03666.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_utils_9f9fb2d6.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_audio_utils_9f9fb2d6.o
Builds/LinuxMakefile/build/intermediate/Debug/Value_70883c52.d
Builds/LinuxMakefile/build/intermediate/Debug/Value_70883c52.o
Builds/LinuxMakefile/build/SC_Server.vst3/Contents/aarch64-linux/SC_Server.so
Builds/LinuxMakefile/build/SC_Server
Builds/LinuxMakefile/build/SC_Server.a
.vscode/c_cpp_properties.json
.vscode/configurationCache.log
.vscode/launch.json
.vscode/targets.log
.vscode/tasks.json
Builds/LinuxMakefile/make_helpers/arch_detection.cpp
Builds/LinuxMakefile/make_helpers/arch_detection.cpp
SC_Server.code-workspace
Builds/LinuxMakefile/build/intermediate/Debug/MidiInputNode_84b978ac.d
Builds/LinuxMakefile/build/intermediate/Debug/MidiInputNode_84b978ac.o
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_dsp_aeb2060f.d
Builds/LinuxMakefile/build/intermediate/Debug/include_juce_dsp_aeb2060f.o
Builds/LinuxMakefile/build/intermediate/Debug/SynthVoice_279f55df.d
Builds/LinuxMakefile/build/intermediate/Debug/SynthVoice_279f55df.o
